{% extends 'layout.html' %}

{% block content %}
<h1>Dashboard</h1>
<p>Halo, Selamat datang <strong> {{ user_info }} </strong></p>
<img class="w-100" src="assets/images/headerp.jpg" alt="Header Placeholder">
<hr>
<p>

</p>
Laporbug adalah sebuah inovatif platform manajemen pelaporan bug yang dirancang khusus untuk memenuhi kebutuhan RKS Polibatam dalam mengelola dan memantau pelaporan bug dengan efisien. Dengan antarmuka yang ramah pengguna dan fungsionalitas yang intuitif, Laporbug memungkinkan para pengguna untuk dengan mudah melaporkan bug yang mereka temui dalam sistem RKS Polibatam. Melalui platform ini, pengguna dapat menggambarkan bug secara rinci, menyertakan tangkapan layar atau file terkait, serta memberikan informasi kontekstual yang diperlukan, sehingga memudahkan tim pengembang untuk memahami masalah yang dilaporkan dengan jelas.
</p>
<p>
    Laporbug juga menawarkan fitur pelacakan yang kuat, memungkinkan pengguna untuk melacak status pelaporan bug mereka dari waktu pengajuan hingga penyelesaian. Dengan sistem notifikasi real-time, pengguna akan selalu mendapatkan pembaruan terkini tentang progres penanganan bug mereka. Selain itu, platform ini menyediakan berbagai laporan analitik yang memberikan wawasan mendalam tentang tren pelaporan bug, memungkinkan RKS Polibatam untuk mengidentifikasi pola umum dan merancang strategi perbaikan yang efektif. Dengan Laporbug, RKS Polibatam dapat meningkatkan efisiensi dalam mengatasi bug, mengoptimalkan waktu tanggapan, dan memberikan pengalaman pengguna yang lebih baik kepada para pengguna sistem mereka.
</p>
{% endblock %}
